.banner{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/spotify2-29277.appspot.com/o/jesse%20.jpg?alt=media&token=f7395372-6996-4cab-bcb8-3fec47f7c851');
    background-position: top center;
    background-size: cover;
    padding: 10% 20% 30% 20%;
    
}
